body {
  font-family: 'Orbitron', sans-serif;
  background: linear-gradient(#303030, #444444 45%, #444444 55%, #303030);
  height: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed; }

#zano-container {
  width: 400px;
  height: 10px;
  position: absolute;
  left: 50%;
  top: 300px;
  margin-left: -200px;
  opacity: 0;
  background: linear-gradient(#005a81, #004766);
  border: 1px solid #006f9f;
  box-shadow: 10px 10px 10px #303030;
  overflow: hidden; }
  #zano-container.animate-in {
    opacity: 1;
    width: 600px;
    height: 400px;
    position: absolute;
    left: 50%;
    top: 100px;
    margin-left: -300px; }
  #zano-container.animate-in-add {
    opacity: 0;
    -moz-animation: zanoContainer 1000ms cubic-bezier(0.19, 0.92, 0.23, 1) 1;
    -o-animation: zanoContainer 1000ms cubic-bezier(0.19, 0.92, 0.23, 1) 1;
    -webkit-animation: zanoContainer 1000ms cubic-bezier(0.19, 0.92, 0.23, 1) 1;
    animation: zanoContainer 1000ms cubic-bezier(0.19, 0.92, 0.23, 1) 1;
    -moz-animation-delay: 4s;
    -o-animation-delay: 4s;
    -webkit-animation-delay: 4s;
    animation-delay: 4s;
    -moz-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards; }
  #zano-container.spin {
    -moz-animation: spinZanoContainer 5000ms cubic-bezier(0.19, 0.92, 0.23, 1) infinite;
    -o-animation: spinZanoContainer 5000ms cubic-bezier(0.19, 0.92, 0.23, 1) infinite;
    -webkit-animation: spinZanoContainer 5000ms cubic-bezier(0.19, 0.92, 0.23, 1) infinite;
    animation: spinZanoContainer 5000ms cubic-bezier(0.19, 0.92, 0.23, 1) infinite; }
  #zano-container.zoomOut {
    -moz-animation: zoomZanoContainer 500ms cubic-bezier(0.19, 0.92, 0.23, 1) 1;
    -o-animation: zoomZanoContainer 500ms cubic-bezier(0.19, 0.92, 0.23, 1) 1;
    -webkit-animation: zoomZanoContainer 500ms cubic-bezier(0.19, 0.92, 0.23, 1) 1;
    animation: zoomZanoContainer 500ms cubic-bezier(0.19, 0.92, 0.23, 1) 1;
    -moz-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards; }

@keyframes zanoContainer {
  50% {
    width: 600px;
    height: 10px;
    top: 300px;
    margin-left: -300px; }
  100% {
    width: 600px;
    height: 400px;
    position: absolute;
    left: 50%;
    top: 100px;
    margin-left: -300px;
    opacity: 1; } }

@-webkit-keyframes zanoContainer {
  50% {
    width: 600px;
    height: 10px;
    top: 300px;
    margin-left: -300px; }
  100% {
    width: 600px;
    height: 400px;
    position: absolute;
    left: 50%;
    top: 100px;
    margin-left: -300px;
    opacity: 1; } }

@keyframes spinZanoContainer {
  0% {
    width: 600px;
    height: 400px;
    position: absolute;
    left: 50%;
    top: 100px;
    margin-left: -300px;
    opacity: 1; }
  100% {
    width: 600px;
    height: 400px;
    position: absolute;
    left: 50%;
    top: 100px;
    margin-left: -300px;
    -moz-transform: rotateY(360deg);
    -ms-transform: rotateY(360deg);
    -o-transform: rotateY(360deg);
    -webkit-transform: rotateY(360deg);
    transform: rotateY(360deg);
    opacity: 1; } }

@-webkit-keyframes spinZanoContainer {
  0% {
    width: 600px;
    height: 400px;
    position: absolute;
    left: 50%;
    top: 100px;
    margin-left: -300px;
    opacity: 1; }
  100% {
    width: 600px;
    height: 400px;
    position: absolute;
    left: 50%;
    top: 100px;
    margin-left: -300px;
    -moz-transform: rotateY(360deg);
    -ms-transform: rotateY(360deg);
    -o-transform: rotateY(360deg);
    -webkit-transform: rotateY(360deg);
    transform: rotateY(360deg);
    opacity: 1; } }

@keyframes zoomZanoContainer {
  0% {
    width: 600px;
    height: 400px;
    position: absolute;
    left: 50%;
    top: 100px;
    margin-left: -300px;
    opacity: 1; }
  100% {
    width: 600px;
    height: 400px;
    position: absolute;
    left: 50%;
    top: 100px;
    margin-left: -300px;
    opacity: 0; } }

@-webkit-keyframes zoomZanoContainer {
  0% {
    width: 600px;
    height: 400px;
    position: absolute;
    left: 50%;
    top: 100px;
    margin-left: -300px;
    opacity: 1; }
  100% {
    width: 600px;
    height: 400px;
    position: absolute;
    left: 50%;
    top: 100px;
    margin-left: -300px;
    opacity: 0; } }

#selected-project {
  position: absolute;
  z-index: 1000; }
  #selected-project.present-project-left {
    -moz-animation: present-project-left 500ms cubic-bezier(0.19, 0.92, 0.23, 1) 1;
    -o-animation: present-project-left 500ms cubic-bezier(0.19, 0.92, 0.23, 1) 1;
    -webkit-animation: present-project-left 500ms cubic-bezier(0.19, 0.92, 0.23, 1) 1;
    animation: present-project-left 500ms cubic-bezier(0.19, 0.92, 0.23, 1) 1;
    -moz-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards; }
  #selected-project.present-project-up {
    -moz-animation: present-project-up 500ms cubic-bezier(0.19, 0.92, 0.23, 1) 1;
    -o-animation: present-project-up 500ms cubic-bezier(0.19, 0.92, 0.23, 1) 1;
    -webkit-animation: present-project-up 500ms cubic-bezier(0.19, 0.92, 0.23, 1) 1;
    animation: present-project-up 500ms cubic-bezier(0.19, 0.92, 0.23, 1) 1;
    -moz-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards; }

@keyframes present-project-left {
  100% {
    left: 0; } }

@-webkit-keyframes present-project-left {
  100% {
    left: 0; } }

@keyframes present-project-up {
  0% {
    left: 0; }
  100% {
    left: 0;
    top: 0;
    font-size: 36px;
    margin-top: 20px; } }

@-webkit-keyframes present-project-up {
  0% {
    left: 0; }
  100% {
    left: 0;
    top: 0;
    font-size: 36px;
    margin-top: 20px; } }
