@import 'helpers/helperMixins.scss';
@import 'helpers/helperVars.scss';

#current-page {
    position: relative;

    .project-name {
        padding: 4px 10px;
        position: relative;
        z-index: 3;
        -moz-transition: 2s $quick-ease-in color;
        -o-transition: 2s $quick-ease-in color;
        -webkit-transition: 2s $quick-ease-in color;
        transition: 2s $quick-ease-in color;

        &.ng-enter {
            -moz-transition: 0.5s $quick-ease-in all;
            -o-transition: 0.5s $quick-ease-in all;
            -webkit-transition: 0.5s $quick-ease-in all;
            transition: 0.5s $quick-ease-in all;
            opacity: 0;
            margin-left: -10px;

            &.ng-enter-active {
                opacity: 1;
                margin-left: 0;
            }
        }

        &.ng-enter-stagger {
            -moz-transition-delay: 100ms;
            -o-transition-delay: 100ms;
            -webkit-transition-delay: 100ms;
            transition-delay: 100ms;
            -moz-transition-duration: 0;
            -o-transition-duration: 0;
            -webkit-transition-duration: 0;
            transition-duration: 0;
        }

        &:hover {
            cursor: pointer;
            color: $colorBlueLighten2;
        }
    }
}
