@import 'helpers/helperMixins.scss';
@import 'helpers/helperVars.scss';

#menu{
    opacity: 0;
    color: white;
    position: absolute;
    top: 200px;
    $indent: 30px;

    @include customAnimationFrames(menu-items-intro, 1s, $quick-ease-in, 1, $zano-container-animation-time + $triangle-animation-time, forwards);

    & ul {
        list-style-type: none;
        padding-left: 20px;
    }

    .item1, .item2, .item3, .item4 {
        margin-bottom: 20px;
        -moz-transition: transform 500ms, color 500ms;
        -o-transition: transform 500ms, color 500ms;
        -webkit-transition: transform 500ms, color 500ms;
        transition: transform 500ms, color 500ms;
        position: relative;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;

        &:hover {
            cursor: pointer;
 
            -moz-transform: translateX(-1px);
            -ms-transform: translateX(-1px);
            -o-transform: translateX(-1px);
            -webkit-transform: translateX(-1px);
            transform: translateX(-1px);
            color: $colorBlueLighten2;
        }
    }

    .item1 {
        padding-left: $indent * 0;
    }

    .item2 {
        padding-left: $indent * 1;
    }

    .item3 {
        padding-left: $indent * 2;
    }

    .item4 {
        padding-left: $indent * 3;
    }
}

@include customKeyFrames(menu-items-intro){
    100%{
        opacity:1;
    }
}
